<p id="notice"><%= notice %></p>

<h1>Listing Email Recipients</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Subject</th>
      <th>Content</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_recipients.each do |email_recipient| %>
      <tr>
        <td><%= email_recipient.email %></td>
        <td><%= email_recipient.subject %></td>
        <td><%= email_recipient.content %></td>
        <td><%= email_recipient.order_id %></td>
        <td><%= link_to 'Show', email_recipient %></td>
        <td><%= link_to 'Edit', edit_email_recipient_path(email_recipient) %></td>
        <td><%= link_to 'Destroy', email_recipient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email recipient', new_email_recipient_path %>
