<h1>Orders#emailit</h1>
<p>Find me in app/views/orders/emailit.html.erb</p>

<% form_for @order.email_recipient do |o| %>
    <div class="field">
    <%= f.label :email_recipient %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <p> Note: The PDF's already attached </p>
  <div class="actions">
    <%= f.submit "Send PDF Receipt" %>
  </div>

<% end %>